<% if Current.user%>
  <div class="container">
    <h1 class=" ml-2 mb-4 mt-7 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-4xl dark:text-gray"> <%=Current.user.first_name %> ou have <%= Current.user.tasks.count %> tasks</h1>

    <ul class="bg-white shadow overflow-hidden sm:rounded-md max-w-2xl ml-2 mt-12">  
      <% Current.user.tasks.each do |task| %>
        <%= render task %>
        <div class="ml-6 mb-2 flex items-center justify-between">
          <%= link_to "Show", task, class:"text-sm font-medium text-indigo-500" %>
          <%= button_to "Complete", task, method: :delete, class:"text-sm font-medium text-indigo-500 mr-6" %>
        </div>  
      <% end %>
    </ul>
    </br>
  </div>
<% else %>
  <h1 class=" mb-4 mt-7 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-gray">Do what you got <mark class="px-2 text-white bg-blue-600 rounded dark:bg-gray-800">TODO</mark></h1>
  <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
    Get things done! TODO helps you plan your day, manage your projects, and make progress toward your goals.    
  </p>
<% end %>
